# "hidraw" is required for programs like Chrome to use "webhid"
# here we are ensuring that only users added to the "hidraw" group have access to this
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", MODE="0660", GROUP="hidraw", TAG+="uaccess", TAG+="udev-acl"
